.home {
    text-align: center;
  }
  
/* Styles for Search Header */
.search-header {
  position: relative;
  height: 250px;
  width: 95%;
  display: flex;
  align-items: center;
  left: 2.5%;
  border-radius: 10px;
  margin: 30px 5px 10px;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  background-color: #008080;

}

/* .search-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: teal;
  /* background: url('https://cdn.pixabay.com/video/2021/08/19/85590-590014592_large.mp4') center/cover no-repeat; 
  z-index: -1;
  pointer-events: none;
  filter: brightness(0.7);
} */

.search-header input {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 25px;
  cursor: pointer;
  border: 1px solid #ccc;
  height: 25px;
  width: 50%;
  outline: none;
  transition: opacity 0.3s ease;
}

.search-header input::placeholder {
  color: #444;
}

.search-header input:focus {
  border: 1px solid #000;
}

.search-header h2 {
  font-size: 40px;
  color: antiquewhite;
  font-weight: 700;
}

.search-header.scrolled {
  height: 200px;
}

.search-header.scrolled input {
  opacity: 0;
  pointer-events: none;
}

.search-header video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

  
   .image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 15px;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
  } 
  

  .image-card {
    cursor: pointer;
    height: auto;
    width: 100%;
    transition: transform 0.2s ease-in-out;
  }
  
  .image-card:hover {
    transform: scale(1.05);
  }
  
  .image-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  .search-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .search-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  input[type="text"] {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 450px;
  }
  
  .filter-dropdown {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
  }
  
  .filter-dropdown:hover {
    border-color: #007bff;
  }
  
  /* Ensure responsiveness */
@media (max-width: 768px) {
  .search-header {
    height: 300px;
  }

  .search-header input {
    width: 80%;
    font-size: 16px;
  }
}
