/* Main styles */
.main {
  padding: 2rem;
  /* background-color: blueviolet; */
  text-align: center;
}
.navbar{
  background-color: #333;
  position: absolute;
  top: 0;
  width: 99.3%;
  height: 50px;
  left: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}
.navbar p{
  padding-right: 10%;
}
header {
  margin: 2rem 0;
  position: relative;
  left: 1%;
  background-color: teal;
  height: 30vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h2{
font-size: 2rem;
color: aliceblue;
}

header input {
  width: 70%;
  height: 20px;
  border-radius: 5px;
  border: 1px solid grey;
  font-size: 14px;
  background-color: whitesmoke;
  padding: 10px;
  color: black;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 20px;
}

.container div {
  break-inside: avoid; /* Prevent breaking of elements */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
  height: fit-content;
}

.container div:hover {
  transform: scale(1.05);
  
}

.container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

/* Fullscreen Image Viewer */
.fullscreenViewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blurred background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.fullscreenViewer img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}
