/* src/styles/Auth.css */
.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.auth-form input {
  display: block;
  width: 93%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  margin: 7px auto;
  border-radius: 4px;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #555;
}

.google-btn{
  background-color: #4285f4;
  color: #fff;
}