/* src/styles/Auth.css */
.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.auth-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 80%;
  padding: 10px 40px;
  border: 1px solid #ccc;
  border-radius: 25px;
  transition: border 0.3s;
}

.input-group input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #888;
}
center p {
  margin: 10px;
}
.password-toggle {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-form button:hover {
  background-color: #0056b3;
}

#google-btn {
  background-color: #fff;
  color: #333;
  padding: 7px;
  border: 2px solid #ccc;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

#google-btn:hover {
  background-color: #f5f5f5;
}

#google-btn img {
  margin-right: 10px;
  height: 25px;
}

@media (max-width: 768px) {
  .auth-container {
    max-width: 300px;
    margin: 30px 15px;
  }

  #google-btn img {
    margin-right: 5px;
  }
  .input-group input {
    width: 65%;
  }
}
