/* src/styles/Auth.css */
.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.auth-form input {
  display: block;
  width: 93%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  margin: 7px auto;
  border-radius: 4px;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #555;
}

#google-btn{
  background-color: #fff;
  color: #333;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
  align-items: center;
  padding-right: 15%;
  cursor: pointer;
}
#google-btn img{
  margin-left: -80px;
  height: 30px;
  background-color: #555;

}


@media (max-width: 768px)   {
  .auth-container {
    max-width: 300px;
    margin: 50px 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  #google-btn img{
    margin-left: -15px;
    height: 30px;
    background-color: #555;
  
  }
  
}